*{margin: 0;padding: 0;}
.box{
    background-color: gray;
    width: 800px;
    height: 300px;
    margin: 500px auto;
}
.a{ 
    background-color: red;
    transition: all 1s ease 0s;
}
.b{
    background-color: green;
    transition: all 1s ease 0s;
}
.c{
    background-color: blue;
    transition: all 1s ease 0s;
}
.d{
    background-color: gold;
    transition: all 1s ease 0s;
}
.e{
    background-color: pink;
    transition: all 1s ease 0s;
}
.ex1{
    position: relative;
}
.ex1>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex1 .a{
    left: 0;
    top: 0;
}
.ex1:hover .a{
    top: -100px;
    left: -100px;
}
.ex1 .b{
    top: 200px;
    left: 0px;
}
.ex1:hover .b{
    left: -100px;
    top: 300px;
}
.ex1 .c{
    top: calc(50% - 50px);
    right: calc(50% - 50px);
}

.ex1 .d{
    right: 0;
    top: 0;
}
.ex1:hover .d{
    right: -100px;
    top: -100px;
}
.ex1 .e{
    right: 0;
    bottom: 0;
}
.ex1:hover .e{
    right: -100px;
    bottom: -100px;
}

.ex2{
    position: relative;
    overflow: hidden;
}
.ex2>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex2 .a{
    top: -100px;
    left: -100px;
}
.ex2:hover .a{
    top: 0px;
    left: 0px;
}
.ex2 .b{
    bottom: -100px;
    left: -100px;
}
.ex2:hover .b{
    bottom: 0px;
    left: 0px;
}
.ex2 .c{
    bottom: -100px;
    /* left: 350px; */
    left: calc(50% - 50px);
}
.ex2:hover .c{
    bottom: calc(50% - 50px);
    left: calc(50% - 50px);
}
.ex2 .d{
    top: -100px;
    right: -100px;
}
.ex2:hover .d{
    top: 0px;
    right: 0px;
}
.ex2 .e{
    right: -100px;
    bottom: -100px;
}
.ex2:hover .e{
    right: 0px;
    bottom: 0px;
}

.ex3{
    position: relative;
}
.ex3>div{
    width: 160px;
    height: 300px;
    /* width: 20%;
    height: 100%; */
    position: absolute;
}
.ex3 .a{
    top: -100%;
    left: 0px;
}
.ex3 .b{
    bottom: -100%;
    left: 20%;
}
.ex3 .c{
    left: 40%;
    top: -100%;
}
.ex3 .d{
    bottom: -100%;
    right: 20%;
}
.ex3 .e{
    top: -100%;
    right: 0px;
}

.ex4{
    position: relative;
}
.ex4 div{
    position: absolute;
}
.ex4 .a{
    width: 300px;
    height: 300px;
    top: -150px;
    left: 0px;
    position: absolute;
}
.ex4 .b{
    width: 100px;
    height: 100px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}
.ex4 .c{
    width: 100px;
    height: 100px;
    top: 0px;
    right: 0px;
    position: absolute;
}
.ex4 .d{
    width: 300px;
    height: 300px;
    bottom: -150px;
    right: 0px;
    position: absolute;
}
.ex4 .e{
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    position: absolute;
}

.ex5{
    position: relative;
}
.ex5>div{
    position: absolute;
    width: 100px;
    height: 100px;
}
.ex5 .a{
    top: -100px;
    left: -100px;
    z-index: 1;
}
.ex5 .b{
    top: -50px;
    left: -50px;
}
.ex5 .c{
    top: 0px;
    left: 0px;
    z-index: 1;
}
.ex5 .d{
    top: 50px;
    left: 50px;
}
.ex5 .e{
    top: 100px;
    left: 100px;
    z-index: 1;
}

.ex6{
    display: flex;
}
.ex6>div{
    flex: 1;
}
.ex6 .a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ex6 .b{
    position: relative;
}
.ex6 .c{
    width: 100px;
    height: 100px;
    right: 0px;
    top: 0px;
    position: absolute;
}
.ex6 .d{
    width: 100px;
    height: 50px;
    left: 0px;
    bottom: 0px;
    position: absolute;
}
.ex6 .e{
    width: 100px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}