html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}

.inner-flame{
    border: 1px solid red;
    width: 1600px;
    height: 100px;
    margin: 0 auto;
}
header .inner-flame{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.6s ease 0s;
}
header:hover{
    height: 266px;
}
.gnb{
    display: flex;
    gap: 3.3rem;
    
}
.gnb>li{
    flex: 1;
    
}
.gnb>li>a{
    display: flex;
    align-items: center;
    width: 131px;
    height: 100px;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
li a{
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.banner{
    height: 800px;
    background: url("../img/18a998569853f0ae11b679e98fe8dedede45c48d.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}
.banner h1{
    font-size: 140px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

