html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}

header{
    max-height: 100px;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid red;
    width: 100%;
    background-color: white;
}
header:hover{
    max-height: 500px;
}
.inner-flame{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 49px;
}
.gnb{
    display: flex;
    gap: 3.3rem;
}

.gnb>li>a{
    display: flex;
    height: 100px;
    align-items: center;
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb ul>li{
    font-size: .8rem;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.gnb ul>li:last-of-type{
    margin-bottom: 0;
}

.banner{
    height: 800px;
    background: url("../img/18a998569853f0ae11b679e98fe8dedede45c48d.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
    margin-top: 100px;
}
.banner h1{
    font-size: 7rem;
    text-align: center;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    width: 1600px;
}

