@media (min-width:1024px){
    /* 화면 너비가 최소 1024픽셀 이상일 때 적용되는 스타일 */
    .containar{
        background-color: red;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .containar{
        background-color: blue;
    }
}
@media (max-width:767px){
    .containar{
        background-color: green;
    }
}