@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }

    .inner-frame {
        border: 1px solid red;
        width: auto;
        margin: 0 2rem;
        margin-top: 3.75rem;
    }
}