*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color:inherit;
    text-decoration: inherit;
}
ul,ol{
    list-style: none;
}
address{
    font-style: inherit;
}
em,address,i{
    font-style: initial;
}
strong,b{
    font-weight: inherit;
}
img{
    max-width: 100%;
}
table{
    border-collapse: collapse;
}