.a{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}
.b{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.c{
    width: 400px;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: 50% 50%;
}
figure{
    border: 1px solid green;
    width: 600px;
    aspect-ratio: 1/1;
    font-size: 0;
}
.d{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px; /*1ë²ˆ*/
    border-radius: 10px 20px 30px 40px;
}