html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.abo{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
.banner{
    border: 1px solid lime;
    height: 599px;
    background: url("../img/banner.png") no-repeat 50% 75%  / cover;
    border-radius: 0 0 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.common-frame{
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
    
}
h2.deco-title{
    border: 1px solid blue;
    font-size: 7.5rem;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10rem;
    background: url("../img/Vector\ 1.svg") no-repeat 50% 0;
    margin-bottom: 2rem;
}
.desc1{
    border: 1px solid red;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}
.desc1 em{
    color: #770000;
}
body{
    background: url("../img/BACKGROUND.png") repeat-x 0% 40%;
}
.cafe-gal{
    display: flex;
    gap: 1rem;
}
.cafe-gal figure{
    flex: 1;
    aspect-ratio: 790/434;
    line-height: 0;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}
.cafe-gal figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.common-frame h3{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1rem;
}
.common-frame h3 em{
    color: #770000;
}
.common-frame h3+p{
    margin-bottom: .5rem;
}
.common-frame p strong{
    font-weight: 600;
}