html{
    font-size: 1rem;
    font-family: 'pretendard' ,sans-serif;
    font-weight: 400;
}
header{
    height: 100px;
    transition: all 0.6s ease 0s;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 1000;
}
.inner-flame{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}
.gnb{
    display: flex;
    align-items: flex-start;
}
.gnb>li{
    width: 200px;
    padding: 0.5rem;
    padding-top: 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 5px 5px;
    max-height: 100px;
    overflow: hidden;
    transition: all 0.1s ease 0s;
}
.gnb>li:hover{
    max-height: 500px;
}
.gnb>li>a{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 1rem;
    height: 100px;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
}

/* .gnb ul>li:last-of-type{
    margin-bottom: 0;
} */

.banner{
    height: 800px;
    position: relative;
}
.banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.floating{
    width: 1600px; 
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
}
.floating h1{
    font-weight: 400;
    font-size: 7rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.floating p{
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}