@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }

    .content {
        border: 1px solid red;
        width: auto;
        margin: 0 2rem;
        margin-top: 6rem;
    }
    .content figure img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-bottom: 1rem;
    }
}