@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
        font-family: 'Pretendard',sans-serif;
    }
    .aboreto{
        font-family: "Aboreto", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    
    .banner{
        /* padding-top: 270px;
        box-sizing: border-box; */
        height: 599px;
        background: url("../img/7247350364b9abd890d544b50b85e6093c349f17.png") no-repeat 50% 50% / cover; 
    }
    .banner h1{
        border: 1px solid lime;
        text-align: center;
        color: white;
        font-size: 2.5rem;
        line-height: 100%;
        padding-top: 270px;
        text-transform: uppercase;
    }
    .content{
        border: 1px solid red;
        width: 1600px;
        margin: 0 auto;
        margin-top: 6rem;
    }
    .content h2{
        font-size: 4rem;
        line-height: 90%;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }
    .content p{
        border-top:  1px solid #000;
        text-transform: uppercase;
        line-height: 140%;
        text-align: right;
        padding: 1rem 0;
        margin-bottom: 3rem;
        font-family: 'Pretendard', sans-serif;
    }
    .content figure{
        border: 1px solid green;
        font-family: 'Pretendard', sans-serif;
    }
    .content figure img{
        width: 1000px;
        height: 430px;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    .content figcaption{
        font-size: 1rem;
        line-height: 140%;
        text-transform: lowercase;
    }
}