@font-face {
    font-family: "케듀";
    src: url("../font/KERISKEDU_R.otf");
    font-weight: 400;
}
@font-face {
    font-family: "케듀";
    src: url("../font/KERISKEDU_B.otf");
    font-weight: 700;
}

@font-face {
    font-family: "케듀테두리";
    src: url("../font/KERISKEDU_Line.otf");
    
}