@font-face {
    font-family: "케듀";
    src: url("../font/KERISKEDU_R.otf");
    font-weight: 400;
}
@font-face {
    font-family: "케듀";
    src: url("../font/KERISKEDU_B.otf");
    font-weight: 700;
}

@font-face {
    font-family: "케듀테두리";
    src: url("../font/KERISKEDU_Line.otf");
    
}

.kedu{
    font-family: "케듀";
    font-weight: 700;
}

.kedu2{
    font-family: "케듀테두리";
    
}

@font-face {
    font-family: 'NostalgicYuriDakku';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-1@1.0/Griun_YuriDaggu-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
.dakku{
     font-family: 'NostalgicYuriDakku';
}

.mons{
    font-family: "Pinyon Script", cursive;
}

.b{
    font-family: "Henny Penny", system-ui;
}