html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.abo{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
.container{
    border: 1px solid red;
    margin: 0 auto;
    width: 1600px;
}
.container h1{
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 8rem;
}
.container p{
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5rem;
}
.banner{
    height: 700px;
    background: url("../img/1.jpg") no-repeat 50% 50% / cover;
    margin-bottom: 5rem;
}
.banner h2{
    width: 1600px;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 7.5rem;
    line-height: 90%;
    padding: 295px 0;
}
.container2{
    margin: 0 auto;
    width: 1604px;
}
.container2 h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 1rem;
}
.container2 p{
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.cafe-gal{
    display: flex;
    gap: 1rem;
}
.cafe-gal figure{
    flex: 1;
    aspect-ratio: 521.33/520;
}
.cafe-gal figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
