.a{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 200px auto;
    animation-name: myrotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.a:hover{
    animation-play-state: paused;
}
@keyframes myrotate {
    0%{transform: translatex(0)rotate(0deg);}
    100%{transform: translatex(300px)rotate(360deg);}
}
.b{
    width: 100px;
    height: 100px;
    background-color: gold;
    margin: 200px auto;
    animation: bounce 3s ease 0s infinite alternate;
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    45.5%{
        background-color: red;
        border-radius: 50%;
    }
    100%{
        transform: scale(2);
    }
}
