*{margin: 0;padding: 0;}
.box{
    border: 10px solid red;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
}

.box section{
    border: 1px solid blue;
}