html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}

header{
    width: 100%;
    border-bottom: 2px solid #BE0707;
    position: fixed;
    left: 0;
    top: 0;
}
.common-frame{
    width: 1600px;
    height: 100px;
    margin: 0 auto;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 966px;
}
.lnb{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 30px;
    text-transform: uppercase;
    font-size: .8rem;
}
.lnb li{
    padding: 0 1rem;
    display: flex;
    font-weight: 400;
    line-height: 100%;
    color: white;
}
.gnb{
    display: flex;
    height: 70px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 100%;
}
.gnb li{
     flex: 1;
}
.gnb li a{
    display: flex;
    width: 138px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner{
    height: 100vh;
    background: url("../img/bebbaa7230b9952d6a79aecd750de8d322879c12.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.banner h1{
    color: white;
    font-size: 7rem;
    text-transform: uppercase;
    width: 1600px;
    line-height: 90%;
}
h2{
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
p{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.banner2{
    width: 1600px;
    height: 441px;
    margin: 0 auto;
}
.banner2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}